<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<configSections>
        <section name="logger" type="SimpleLogger.LoggerConfigurationSection, SimpleLogger" />
    </configSections>
    <logger enabled="true" applicationName="TestApplication">
        <targets>
            <target type="Console" threshold="Debug"/>
            <target type="File" threshold="Debug" fileName="${basedir}\${application}.log"/>
            <target type="Syslog" threshold="Debug"/>
            <target type="EventLog" threshold="Debug"/>
        </targets>
    </logger>-->
</configuration>